// Typography Styles

// 'mobile' sizings - Working styles to match design @ 558px width
@mixin font-standard-sm {
  font-size: 24px; // quoted 18px, 19px, 0em
  line-height: 27.3px;
  letter-spacing: -0.4px;
}
@mixin font-footer-sm {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.045em;
}

// Provided font styles - don't seem to agree with design files
// Hero text / Form inputs
@mixin font-hero-sm {
  font-size: 72px;
  line-height: 69px;
  letter-spacing: -0.05em;
  word-spacing: 4px;
}
// Introduction / Annotations / Submit button / Navigation
// @mixin font-standard-sm {
//   font-size: 18px;
//   line-height: 19px;
//   letter-spacing: 0em;
// }
// @mixin font-footer-sm {
//   font-size: 10px;
//   line-height: 10px;
//   letter-spacing: -0.045em;
// }

// 'desktop' sizings
@mixin font-hero-lg {
  font-size: 144px;
  line-height: 138px;
  letter-spacing: -0.05em;
}
@mixin font-standard-lg {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0em;
}
@mixin font-footer-lg {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.045em;
}

// Media Queries
@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$xxl}) {
    @content;
  }
}
