// Global variables available in all components

// COLORS
$umber: #726356;
$floral-white: #f8f5ee;
$timberwolf: #d4d0cc;

// BREAKPOINTS
$sm: 560px;
$md: 768px;
$lg: 1024px;
$xl: 1400px;
$xxl: 1900px;

// DESKTOP
// 760px padding from logo to nav-info-group
// 184px right padding for nav-info group

//TODOs
// extract css nuxt config
// span around main title element to set letter spacing?
