// Global variables available in all components

// COLORS
$umber: #726356;
$floral-white: #f8f5ee;
$timberwolf: #d4d0cc;

//mobile gutter-size: 13px
//mobile menu-line spacing: 10px
//mobile logo-2 width: 78px, height: 34px
//mobile form input[submit] gap: 33px
//mobile header to feature-text: 69px
//mobile feature-text to sub-feature-text: 72px
//mobile sub-feature-text to img-slider: 68px
