// Global variables available in all components

// COLORS
$umber: #726356;
$floral-white: #f8f5ee;
$timberwolf: #d4d0cc;

// BREAKPOINTS
$xs: 420px; // 420px and below
$sm: 560px;
$md: 768px;
$lg: 1024px;
$xl: 1400px;
$xxl: 1900px;

// Questions on behaviour
// "STAY UPDATED" in bottom left corner - scroll link? fade out?
// span around main title element to set letter spacing?
